/*** Universal Styles ***/

* {
    border: 2px solid turquoise;
}

html {

}

body {

    
}

/*** Header Section ***/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-family: 'Shadows Into Light', cursive;
}

header img{
    height: 120px;

}

h1 {
    font-size: 50px;
    font-weight: 900;
}

nav {
    display: flex;
    align-content: center;
}

ul {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

li {
    list-style: none;
    margin: auto;
    margin-right: 20px;
    font-size: 20px;
}


/*** Main Section ***/

main {
    font-family: 'Comic Neue', cursive;
}

#flex-container {
    

}

/*** Mission Section ***/

#mission {
    background-image: url('./images/woman-back-lifting.jpeg');
    background-size: cover;
    min-height: 400px;
    opacity: 0.6;
    text-align: center;
    color: white;
    font-style: bold;
    font-size: 32px;
}



/*** About Us Section ***/

#about {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 2px solid red;
    background-color: rgb(44, 42, 42);
    color: white;
}

img {
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
}

h3 {
    font-size: 40px;
}

.content {
    z-index: 10;
    text-align: center;
  
}


/*** Meet the Team Section ***/




/*** Contact Us Section ***/

#contact {
    
}